@using EzioLearning.Wasm.Components.Error
@using EzioLearning.Wasm.Components.Auth
@using EzioLearning.Wasm.Utils.Common
@layout EmptyLayout
@attribute [Route(RouteConstants.ConfirmPassword)]
@if (string.IsNullOrEmpty(VerifyCode))
{
    <NotFound />
}
else
{
    <LoginSlide />

    <div class="col-md-6 login-wrap-bg">

        <!-- Login -->
        <div class="login-wrapper">
            <div class="loginbox">
                <div class="w-100">
                    <div class="img-logo">
                        <NavLink href="@RouteConstants.Index" Match="NavLinkMatch.All">
                            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                        </NavLink>
                        <div class="back-home">
                            <NavLink href="@RouteConstants.Index" Match="NavLinkMatch.All">@Localizer.GetString("BackHome")</NavLink>
                        </div>
                    </div>
                    <h1>@Localizer.GetString("Title")</h1>
                    <EditForm FormName="frmConfirmPassword"
                              Enhance="true"
                              Model="ConfirmPasswordDto"
                              OnValidSubmit="OnConfirmPasswordSubmit">
                        <FluentValidationValidator />

                        <div class="input-block">
                            <label class="form-control-label">@Localizer.GetString("EmailLabel")</label>
                            <InputText @bind-Value="ConfirmPasswordDto.Email" class="form-control" disabled/>
                        </div>

                        <div class="input-block">
                            <label class="form-control-label">@Localizer.GetString("PasswordLabel")</label>
                            <InputText type="password" @bind-Value="ConfirmPasswordDto.Password" class="form-control"/>
                            <ValidationMessage For="() => ConfirmPasswordDto.Password" class="text-danger"/>
                        </div>
                        <div class="input-block">
                            <label class="form-control-label">@Localizer.GetString("PasswordConfirmLabel")</label>
                            <div class="pass-group">
                                <InputText type="password" class="form-control pass-input" @bind-Value="ConfirmPasswordDto.ConfirmPassword"/>

                                <span class="feather-eye toggle-password"></span>
                            </div>
                            <ValidationMessage For="() => ConfirmPasswordDto.ConfirmPassword" class="text-danger"/>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary btn-start" type="submit">@Localizer.GetString("ButtonText")</button>
                        </div>

                    </EditForm>
                </div>
            </div>
            <div class="google-bg text-center">

                <span>
                    <a href="#">@Localizer.GetString("ExternalTitle")</a>
                </span>

                <ExternalProvider></ExternalProvider>

                <p class="mb-0">@Localizer.GetString("NewUser") <a href="@RouteConstants.Register">@Localizer.GetString("SignupText")</a></p>

            </div>
        </div>
    </div>
    <!-- /Login -->
}