@using EzioLearning.Wasm.Components.Auth
@using EzioLearning.Wasm.Utils.Common
@attribute [Route(RouteConstants.ForgotPassword)]

@layout EmptyLayout

<div class="row">
    <LoginSlide></LoginSlide>


    <div class="col-md-6 login-wrap-bg">

        <!-- Login -->
        <div class="login-wrapper">
            <div class="loginbox">
                <div class="img-logo">
                    <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                    <div class="back-home">
                        <NavLink Match="NavLinkMatch.All" href="@RouteConstants.Index">
                            @Localizer.GetString("BackHome")
                        </NavLink>
                    </div>
                </div>
                <h1> @Localizer.GetString("Title")</h1>
                <div class="reset-password">
                    <p> @Localizer.GetString("Description")</p>
                </div>
                <EditForm Enhance="true" Model="ForgotPasswordDto" FormName="frmForgotPassword" OnValidSubmit="SubmitForgotPasswordForm">
                    <FluentValidationValidator />
                    <div class="input-block">
                        <label class="form-control-label"> @Localizer.GetString("EmailLabel")</label>
                        <InputText @bind-Value="ForgotPasswordDto.Email" type="email" class="form-control"/>
                        <ValidationMessage For="() => ForgotPasswordDto.Email" class="text-danger"/>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-start" type="submit" disabled="@DisableSubmitButton"> @Localizer.GetString("ButtonText")</button>
                    </div>
                </EditForm>
            </div>
        </div>
        <!-- /Login -->

    </div>
</div>