@using EzioLearning.Wasm.Components.Auth
@attribute [Route(RouteConstants.Login)]
@inherits EzioLearning.Wasm.Utils.Extensions.AuthComponentBase

@layout EmptyLayout
<div class="row">

    <LoginSlide></LoginSlide>

    <div class="col-md-6 login-wrap-bg">

        <!-- Login -->
        <div class="login-wrapper">
            <div class="loginbox">
                <div class="w-100">
                    <div class="img-logo">
                        <NavLink href="@RouteConstants.Index" Match="NavLinkMatch.All">
                            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                        </NavLink>
                        <div class="back-home">
                            <NavLink href="@RouteConstants.Index" Match="NavLinkMatch.All">
                                @Localizer.GetString("BackHome")

                            </NavLink>
                        </div>
                    </div>
                    <h1>@Localizer.GetString("Title")</h1>
                    <EditForm FormName="frmLogin"
                              Enhance="true"
                              Model="LoginRequest"
                              OnValidSubmit="LoginSubmit">
                        <FluentValidationValidator/>
                        <div class="input-block">
                            <label class="form-control-label">@Localizer.GetString("UserNameLabel")</label>
                            <InputText @bind-Value="LoginRequest.UserName" class="form-control" />

                            <ValidationMessage For="() => LoginRequest.UserName" class="text-danger"/>
                        </div>
                        <div class="input-block">

                            <label class="form-control-label">@Localizer.GetString("PasswordLabel")</label>
                            <div class="pass-group">
                                <InputText type="password" class="form-control pass-input" @bind-Value="LoginRequest.Password"/>

                                <span class="feather-eye toggle-password"></span>
                            </div>
                            <ValidationMessage For="() => LoginRequest.Password" class="text-danger" />

                        </div>

                        <ForgotPasswordLink/>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-start" type="submit">@Localizer.GetString("ButtonText")</button>
                        </div>
                    </EditForm>
                </div>
            </div>
            <div class="google-bg text-center">

                <span>@Localizer.GetString("ExternalTitle")</span>
                <ExternalProvider></ExternalProvider>

                <p class="mb-0">
                    @Localizer.GetString("NewUser")
                    <NavLink Match="NavLinkMatch.All" href="@RouteConstants.Register">@Localizer.GetString("SignupText")
                    </NavLink>
                </p>
            </div>
        </div>
        <!-- /Login -->

    </div>

</div>