@inherits AccountComponentBase
<div class="checkout-form personal-address">
    <div class="personal-info-head">
        <h4>@Localizer.GetString("Title")</h4>
        <p>@Localizer.GetString("Description")</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <EditForm FormName="frmChangePassword" Model="ChangePassword" OnValidSubmit="OnChangePassword">
                <FluentValidationValidator />
                <div class="input-block">
                    <label class="form-label mb-0">@Localizer.GetString("CurrentPasswordLabel")</label>
                    <MudTextField @bind-Value="ChangePassword.Password"
                                  InputType="@_passwordInputType"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@_passwordInputIcon"
                                  OnAdornmentClick="() => TogglePassword(IsPasswordShow,ref _passwordInputIcon,ref _passwordInputType)"
                                  AdornmentAriaLabel="Show Password" />
                    <ValidationMessage class="text-danger mt-1" For="() => ChangePassword.Password" />
                </div>

                <div class="input-block">
                    <label class="form-label mb-0">@Localizer.GetString("NewPasswordLabel")</label>
                    <MudTextField @bind-Value="ChangePassword.NewPassword"
                                  InputType="@_newPasswordInputType"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@_newPasswordInputIcon"
                                  OnAdornmentClick="() => TogglePassword(IsNewPasswordShow,ref _newPasswordInputIcon,ref _newPasswordInputType)"
                                  AdornmentAriaLabel="Show Password" />

                    <ValidationMessage class="text-danger mt-1" For="() => ChangePassword.NewPassword" />

                </div>

                <div class="input-block">
                    <label class="form-label mb-0">@Localizer.GetString("ConfirmNewPasswordLabel")</label>

                    <MudTextField @bind-Value="ChangePassword.ConfirmNewPassword"
                                  InputType="@_confirmPasswordInputType"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@_confirmPasswordInputIcon"
                                  OnAdornmentClick="() => TogglePassword(IsConfirmPasswordShow,ref _confirmPasswordInputIcon,ref _confirmPasswordInputType)"
                                  AdornmentAriaLabel="Show Password" />

                    <ValidationMessage class="text-danger mt-1" For="() => ChangePassword.ConfirmNewPassword" />
                </div>

                <div class="update-profile save-password">
                    <MudButton Variant="Variant.Outlined" Color="Color.Success" Disabled="@DisabledButton" ButtonType="ButtonType.Submit">
                        @if (DisabledButton)
                        {
                            <Text>
                                @Localizer.GetString("ProcessingText")&nbsp;&nbsp;&nbsp;
                            </Text>
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        }
                        else
                        {
                            <span>
                                @Localizer.GetString("UpdateText")</span>
                        }
                    </MudButton>

                </div>

            </EditForm>
        </div>
    </div>
</div>