@using System.Security.Claims
@using EzioLearning.Share.Utils;
@inherits EzioLearning.Wasm.Utils.Extensions.AccountComponentBase
<!-- sidebar -->
<div class="col-xl-3 col-md-4 theiaStickySidebar">
    <div class="settings-widget dash-profile mb-3">
        <div class="settings-menu p-0">
            <div class="profile-bg">
                @* <h5>Beginner</h5> *@
                <img src="assets/img/profile-bg.jpg" alt="">
                <div class="profile-img">
                    <NavLink href="@AccountInfoMinimal.Avatar" target="_blank">
                        <img src="@AccountInfoMinimal.Avatar" alt="" class="account-avatar">
                    </NavLink>
                </div>
            </div>
            @{
                var roles = AuthenticationState.User.Claims
                .Where(c => c.Type.Equals(ClaimTypes.Role))
                .Select(c => c.Value)
                .ToList();
            }
            <div class="profile-group">
                <div class="profile-name text-center">
                    <h4 class="account-name">
                        @AccountInfoMinimal.FullName
                    </h4>

                    @if (roles.Any())
                    {
                        <p>@string.Join(",", roles)</p>
                    }
                </div>
                @if (roles.Contains(RoleConstants.Teacher) || roles.Contains(RoleConstants.Admin))
                {
                    <div class="go-dashboard text-center">
                        <NavLink Match="NavLinkMatch.All"
                                 href="@RouteConstants.CourseRoute.Create"
                                 class="btn btn-primary">
                            Tạo khoá học
                        </NavLink>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="settings-widget account-settings">
        <div class="settings-menu">
            <MudNavMenu>
                @if (AuthenticationState.User.IsInRole(RoleConstants.Admin) || AuthenticationState.User.IsInRole(RoleConstants.Teacher))
                {
                    <MudNavGroup Title="Dashboard" Icon="@Icons.Material.Filled.Dashboard">
                        <MudNavLink Match="NavLinkMatch.All" Class="nav-link" Href="@RouteConstants.DevLater">
                            <i class="feather-home"></i> My Dashboard
                        </MudNavLink>
                        <MudNavLink Match="NavLinkMatch.All" Class="nav-link" Href="@RouteConstants.DevLater">
                            <i class="feather-home"></i> My Dashboard
                        </MudNavLink>

                        <MudNavLink Match="NavLinkMatch.All" Class="nav-link" Href="@RouteConstants.DevLater">
                            <i class="feather-home"></i> My Dashboard
                        </MudNavLink>

                        <MudNavLink Match="NavLinkMatch.All" Class="nav-link" Href="@RouteConstants.DevLater">
                            <i class="feather-home"></i> My Dashboard
                        </MudNavLink>

                        <MudNavLink Match="NavLinkMatch.All" Class="nav-link" Href="@RouteConstants.DevLater">
                            <i class="feather-home"></i> My Dashboard
                        </MudNavLink>
                    </MudNavGroup>
                }

                <MudNavGroup Title="@Localizer.GetString("AccountSection")" Icon="@Icons.Material.Filled.ManageAccounts" Expanded="true">
                    <MudNavLink href="@RouteConstants.AccountRoute.Home" Match="NavLinkMatch.All" Class="nav-link" Icon="@Icons.Material.Filled.Info">
                        @Localizer.GetString("Info")
                    </MudNavLink>

                    <MudNavLink href="@RouteConstants.AccountRoute.Security" Match="NavLinkMatch.All" Class="nav-link" Icon="@Icons.Material.Filled.Security">
                        @Localizer.GetString("Security")
                    </MudNavLink>

                    <MudNavLink href="@RouteConstants.AccountRoute.Delete" Match="NavLinkMatch.All" Class="nav-link" Icon="@Icons.Material.Filled.NoAccounts">
                        @Localizer.GetString("DeleteAccount")
                    </MudNavLink>


                    <MudNavLink href="@RouteConstants.Logout" Match="NavLinkMatch.All" Class="nav-link" Icon="@Icons.Material.Filled.Logout">
                        @Localizer.GetString("Logout")
                    </MudNavLink>

                </MudNavGroup>
            </MudNavMenu>

        </div>
    </div>
</div>
<!-- /sidebar -->