@using EzioLearning.Share.Models.Request
@using EzioLearning.Wasm.Components.Course
@attribute [Route(RouteConstants.Course)]

<!-- Breadcrumb -->
@* <div class="breadcrumb-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-12">
				<div class="breadcrumb-list">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item" aria-current="page">Courses</li>
							<li class="breadcrumb-item active" aria-current="page">All Courses</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div> *@
<!-- /Breadcrumb -->
<!-- Course -->
<section class="course-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">

                <!-- Filter -->
                <div class="showing-list">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <div class="view-icons">
                                    <MudIconButton Icon="@Icons.Material.Filled.GridView"
                                                   Color="@(CurrentCourseViewEnum == CourseViewEnum.Grid ? Color.Primary : Color.Default)"
                                                   OnClick="() => ChangeView(CourseViewEnum.Grid)" />

                                    <MudIconButton Icon="@Icons.Material.Filled.List"
                                                   Color="@(CurrentCourseViewEnum == CourseViewEnum.List ? Color.Primary : Color.Default)"
                                                   OnClick="() => ChangeView(CourseViewEnum.List)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="show-filter add-course-info">
                                <form action="#">
                                    <div class="row gx-2 align-items-center">
                                        <div class="col-12 col-item">
                                            <div class=" search-group">
                                                <i class="feather-search"></i>
                                                <input type="text" class="form-control" placeholder="Search our courses" @oninput="ChangeSearchText"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Filter -->

                @if (CourseItemViewDtos.Any())
                {
                    <div class="row" id="CourseItems">
                        @foreach (var courseViewDtoItem in CourseItemViewDtos)
                        {
                            @if (CurrentCourseViewEnum == CourseViewEnum.Grid)
                            {
                                <CascadingValue Value="@courseViewDtoItem">
                                    <CourseInGrid />
                                </CascadingValue>
                            }
                            else
                            {
                                <CascadingValue Value="@courseViewDtoItem">
                                    <CourseInList />
                                </CascadingValue>
                            }
                        }
                    </div>

                    <!-- /pagination -->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="pagination lms-page">
                                <MudPagination Color="Color.Primary"
                                               Count="@PageCount"
                                               Selected="@CourseListOptions.PageNumber"
                                               SelectedChanged="OnPageNumberChanged"
                                               Rectangular="true" />
                            </ul>
                        </div>
                    </div>
                    <!-- /pagination -->
                }

            </div>
            <div class="col-lg-3 theiaStickySidebar">
                <div class="filter-clear">
                    <div class="clear-filter d-flex align-items-center">
                        <h4><i class="feather-filter"></i>Lọc</h4>
                    </div>


                    <MudExpansionPanels MultiExpansion="true">

                        <!-- Search Filter -->

                        <MudExpansionPanel Text="Danh mục" IsExpanded="true">
                            <div class="filter-widget mb-0">
                                @* <div class="categories-head d-flex align-items-center">
                            <h4>Instructors</h4>
                            <i class="fas fa-angle-down"></i>
                            </div> *@
                                @if (CourseCategoryViewDtos.Any())
                                {
                                    @foreach (var item in CourseCategoryViewDtos)
                                    {
                                        <div>
                                            <label class="custom_check">
                                                <input type="checkbox" name="select_specialist" @onchange="() => OnSelectCategoryChanged(item)">
                                                <span class="checkmark"></span> @item.Name

                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                        </MudExpansionPanel>
                        <!-- /Search Filter -->



                        <MudExpansionPanel Text="Giá tiền" IsExpanded="true">
                            <!-- Search Filter -->

                            <div class="filter-widget mb-0">
                                <div>
                                    <label class="custom_check custom_one">
                                        <input type="radio" name="select_specialist" @onchange="() => OnPriceTypeChanged(PriceType.All)">
                                        <span class="checkmark"></span> Tất cả

                                    </label>
                                </div>
                                <div>
                                    <label class="custom_check custom_one">
                                        <input type="radio" name="select_specialist" @onchange="() => OnPriceTypeChanged(PriceType.Free)">
                                        <span class="checkmark"></span> Miễn phí

                                    </label>
                                </div>
                                <div>
                                    <label class="custom_check custom_one mb-0">
                                        <input type="radio" name="select_specialist" @onchange="() => OnPriceTypeChanged(PriceType.Paid)">
                                        <span class="checkmark"></span> Có phí
                                    </label>
                                </div>
                            </div>


                            <!-- /Search Filter -->
                        </MudExpansionPanel>
                    </MudExpansionPanels>



                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Course -->