<div class="col-lg-4 col-md-6 d-flex">
    <div class="course-box course-design d-flex ">
        <div class="product">
            <div class="product-img">
                <NavLink href="@Path.Combine(RouteConstants.CourseRoute.CourseDetailNoParam,CourseItemViewDto.Id.ToString())">
                    <img class="img-fluid" alt="" src="@CourseItemViewDto.Poster">
                </NavLink>
                <div class="price">
                    @if (CourseItemViewDto.Price > 0)
                    {
                        <h3>
                            $@CourseItemViewDto.Price
                            @if (CourseItemViewDto.PromotionPrice > 0)
                            {
                                <span>$@CourseItemViewDto.PromotionPrice</span>
                            }
                        </h3>
                    }
                    else
                    {
                        <h3 class="free-color">FREE</h3>
                    }
                </div>
            </div>
            <div class="product-content">
                <div class="course-group d-flex mb-1">
                    <div class="course-group-img d-flex">
                        <a href="#"><img src="@CourseItemViewDto.TeacherAvatar" alt="" class="img-fluid"></a>
                        <div class="course-name d-flex align-items-center">
                            <h4><a href="#">@CourseItemViewDto.TeacherName</a></h4>
                        </div>
                    </div>

                    @* <div class="course-share d-flex align-items-center justify-content-center">
                    <a href="#rate"><i class="fa-regular fa-heart"></i></a>
                    </div> *@

                </div>
                <h3 class="title">
                    <a href="@Path.Combine(RouteConstants.CourseRoute.CourseDetailNoParam,CourseItemViewDto.Id.ToString())">
                    @CourseItemViewDto.Name.Substring(0, Math.Min(CourseItemViewDto.Name.Length, 30))
                </a></h3>
                <div class="course-info d-flex align-items-center">
                    <div class="rating-img d-flex align-items-center">
                        <img src="assets/img/icon/icon-01.svg" alt="">
                        <p>@(CourseItemViewDto.LessonCount)+ Lessons</p>
                    </div>
                    <div class="course-view d-flex align-items-center">
                        <img src="assets/img/icon/icon-02.svg" alt="">
                        <p>@CourseItemViewDto.Duration.ShowDurationFromSecond()</p>
                    </div>
                </div>
                <div class="rating">
                    <MudRating ReadOnly="true" SelectedValue="@((int)CourseItemViewDto.Rating)" MaxValue="5" Size="Size.Medium" />

                    <span class="d-inline-block average-rating">
                        <span>@CourseItemViewDto.Rating</span>
                        (@CourseItemViewDto.RatingCount)
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>