@using Size = MudBlazor.Size
<div class="col-lg-12 col-md-12 d-flex">
    <div class="course-box course-design list-course d-flex">
        <div class="product">
            <div class="product-img">
                <NavLink href="@Path.Combine(RouteConstants.CourseRoute.CourseDetailNoParam,CourseItemViewDto.Id.ToString())">
                    <img class="img-fluid" alt="" src="@CourseItemViewDto.Poster">
                </NavLink>
                <div class="price">
                    @if (CourseItemViewDto.Price > 0)
                    {
                        <h3>
                            $@CourseItemViewDto.Price
                            @if (CourseItemViewDto.PromotionPrice > 0)
                            {
                                <span>$@CourseItemViewDto.PromotionPrice</span>
                            }
                        </h3>
                    }
                    else
                    {
                        <h3 class="free-color">FREE</h3>
                    }
                </div>
            </div>
            <div class="product-content">
                <div class="head-course-title">
                    <h3 class="title">
                        <a href="@Path.Combine(RouteConstants.CourseRoute.CourseDetailNoParam,CourseItemViewDto.Id.ToString())">
                            @CourseItemViewDto.Name.Substring(0, Math.Min(CourseItemViewDto.Name.Length, 30))
                        </a>
                    </h3>
                </div>
                <div class="course-info border-bottom-0 pb-0 d-flex align-items-center">
                    <div class="rating-img d-flex align-items-center">
                        <img src="assets/img/icon/icon-01.svg" alt="">
                        <p>@(CourseItemViewDto.LessonCount)+ Lessons</p>
                    </div>
                    <div class="course-view d-flex align-items-center">
                        <img src="assets/img/icon/icon-02.svg" alt="">
                        <p>@CourseItemViewDto.Duration.ShowDurationFromSecond()</p>
                    </div>
                </div>
                <div class="rating">
                    <MudRating ReadOnly="true" SelectedValue="@((int)CourseItemViewDto.Rating)" MaxValue="5" Size="Size.Medium" />

                    <span class="d-inline-block average-rating">
                        <span>@CourseItemViewDto.Rating</span>
                        (@CourseItemViewDto.RatingCount)
                    </span>
                </div>
                <div class="course-group d-flex mb-0">
                    <div class="course-group-img d-flex">
                        <a href="instructor-profile.html"><img src="@CourseItemViewDto.TeacherAvatar" alt="" class="img-fluid"></a>
                        <div class="course-name d-flex align-items-center">
                            <h4><a href="#">@CourseItemViewDto.TeacherName</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>