@using EzioLearning.Wasm.Utils.Common
<!-- Footer -->
<footer class="footer">

    <!-- Footer Top -->
    @* <Animate class="footer-top" Animation="@AnimationType" Duration="@AnimationDuration" Once="false"> *@
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/img/logo.svg" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>@Localizer.GetString("Content")</p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-2 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">@Localizer.GetString("InstructorTitle")</h2>
                        <ul>
                            <li>
                                <NavLink Match=NavLinkMatch.All href="@RouteConstants.Account.Home">@Localizer.GetString("Profile")</NavLink>
                            </li>
                            <li>
                                <NavLink Match=NavLinkMatch.All href="@RouteConstants.Login">@Localizer.GetString("Login")</NavLink>
                            </li>
                            <li>
                                <NavLink Match=NavLinkMatch.All href="@RouteConstants.Register">@Localizer.GetString("Signup")</NavLink>
                            </li>
                            <li>
                                <NavLink Match=NavLinkMatch.All href="@RouteConstants.DevLater">@Localizer.GetString("Instructor")</NavLink>
                            </li>
                            <li>
                                <NavLink Match=NavLinkMatch.All href="@RouteConstants.DevLater"> @Localizer.GetString("Dashboard")</NavLink>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-2 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">@Localizer.GetString("StudentTitle")</h2>
                        <ul>
                            <li>
                                <NavLink Match=NavLinkMatch.All href="@RouteConstants.Account.Home">@Localizer.GetString("Profile")</NavLink>
                            </li>
                            <li>
                                <NavLink Match=NavLinkMatch.All href="@RouteConstants.Login">@Localizer.GetString("Login")</NavLink>
                            </li>
                            <li>
                                <NavLink Match=NavLinkMatch.All href="@RouteConstants.Register">@Localizer.GetString("Signup")</NavLink>
                            </li>
                            <li>
                                <NavLink Match=NavLinkMatch.All href="@RouteConstants.DevLater">@Localizer.GetString("Student")</NavLink>
                            </li>
                            <li>
                                <NavLink Match=NavLinkMatch.All href="@RouteConstants.DevLater"> @Localizer.GetString("Dashboard")</NavLink>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-4 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">@Localizer.GetString("Contact")</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <img src="assets/img/icon/icon-20.svg" alt="" class="img-fluid">
                                <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                            </div>
                            <p>
                                <img src="assets/img/icon/icon-19.svg" alt="" class="img-fluid">
                                <NavLink Match=NavLinkMatch.All href="mailto:vuthemanh1707@gmail.com">vuthemanh1707@gmail.com</NavLink>
                            </p>
                            <p class="mb-0">
                                <img src="assets/img/icon/icon-21.svg" alt="" class="img-fluid">
                                +84 988 355 845
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

            </div>
        </div>
    </div>
    @* </Animate> *@
    <!-- /Footer Top -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6">
                        <div class="privacy-policy">
                            <ul>
                                <li>
                                    <NavLink Match=NavLinkMatch.All href="@RouteConstants.TermCondition">Terms</NavLink>
                                </li>
                                <li>
                                    <NavLink Match=NavLinkMatch.All href="@RouteConstants.PrivacyPolicy">Privacy</NavLink>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2023 DreamsLMS</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->