@using System.Security.Claims

@inherits EzioLearning.Wasm.Utils.Extensions.AccountComponentBase
<!-- Header -->
<header class="header @_headerPage">
    <div class="header-fixed">
        <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
            <div class="container">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="/" class="navbar-brand logo">
                        <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <NavLink Match="NavLinkMatch.All" href="@RouteConstants.Login" class="menu-logo">
                            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                        </NavLink>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav align-items-baseline">
                        <li class="has-submenu">
                            <NavLink href="@RouteConstants.Index" Match="NavLinkMatch.All">@Localizer.GetString("HomePage")</NavLink>
                        </li>
                        <li class="has-submenu">
                            <NavLink href="@RouteConstants.Course" Match="NavLinkMatch.All">@Localizer.GetString("Course")</NavLink>
                        </li>
                        <li class="has-submenu">
                            <NavLink href="@RouteConstants.Student" Match="NavLinkMatch.All">@Localizer.GetString("Student")</NavLink>

                        </li>
                        <li class="has-submenu">
                            <NavLink Match="NavLinkMatch.All" href="@RouteConstants.About">@Localizer.GetString("About")</NavLink>
                        </li>
                        <li class="has-submenu">
                            <NavLink Match="NavLinkMatch.All" href="@RouteConstants.Contact">@Localizer.GetString("Contact")</NavLink>
                        </li>

                        <li class="has-submenu">
                            <InputSelect 
                                TValue="string" 
                                Value="SelectedCulture" 
                                ValueExpression="() => SelectedCulture"
                                ValueChanged="OnChangeCulture"  
                                         class="form-select">
                                @foreach (var item in Cultures)
                                {
                                    <option value="@item.Id">@item.Id</option>
                                }
                            </InputSelect>
                        </li>


                        <AuthorizeView>
                            <NotAuthorized>
                                <li class="login-link">
                                    <NavLink Match="NavLinkMatch.All" href="@RouteConstants.Login">@Localizer.GetString("LoginSignupMobile")</NavLink>
                                </li>
                            </NotAuthorized>
                            <Authorized>
                                <li class="login-link">
                                    <NavLink Match="NavLinkMatch.All" href="@RouteConstants.Logout">@Localizer.GetString("Logout")</NavLink>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                    </ul>
                </div>
                <AuthorizeView>
                    <NotAuthorized>
                        <ul class="nav header-navbar-rht">
                            <li class="nav-item">
                                <NavLink Match="NavLinkMatch.All" class="nav-link header-sign" href="@RouteConstants.Login">@Localizer.GetString("Login")</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink Match="NavLinkMatch.All" class="nav-link header-login" href="@RouteConstants.Register">@Localizer.GetString("Signup")</NavLink>
                            </li>
                        </ul>
                    </NotAuthorized>
                    <Authorized>
                        <ul class="nav header-navbar-rht">
                            <li class="nav-item user-nav">

                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                    <span class="user-img">
                                        <img src="@AccountInfoMinimal.Avatar" alt="">
                                        
                                        <span class="status online"></span>
                                    </span>
                                </a>
                                <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
                                    <div class="user-header">
                                        <div class="avatar avatar-sm">
                                            <img src="@AccountInfoMinimal.Avatar" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                        <div class="user-text">
                                            <h6 class="account-name">@AccountInfoMinimal.FullName</h6>
                                            <p class="text-muted mb-0">@context.User.Claims.First(x => x.Type == ClaimTypes.Role).Value</p>
                                        </div>
                                    </div>

                                    <a class="dropdown-item" href="@RouteConstants.AccountRoute.Home">
                                        <i class="feather-user me-1"></i> @Localizer.GetString("Profile")
                                    </a>


                                    @*  <a class="dropdown-item" href="setting-student-subscription.html">
                                    <i class="feather-star me-1"></i> Subscription
                                    </a> *@


                                    <button class="dropdown-item justify-content-start" @onclick="Logout">
                                        <i class="feather-log-out me-1"></i> @Localizer.GetString("Logout")
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>
            </div>
        </nav>
    </div>
</header>
<!-- /Header -->