@using EzioLearning.Share.Validators.Account
@attribute [Route(RouteConstants.Account.Home)]
@layout AuthorizeLayout
<!--Dashboard Student -->
<div class="page-content">
    <div class="container">
        <div class="row">

            <!-- sidebar -->
            <div class="col-xl-3 col-md-4 theiaStickySidebar">
                <div class="settings-widget dash-profile mb-3">
                    <div class="settings-menu p-0">
                        <div class="profile-bg">
                            @* <h5>Beginner</h5> *@
                            <img src="assets/img/profile-bg.jpg" alt="">
                            <div class="profile-img">
                                <a href="#">
                                    @{
                                        var avatarUrl = ApiConstants.BaseUrl + AccountInfo.Avatar;
                                    }
                                    <img src="@avatarUrl" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="profile-group">
                            <div class="profile-name text-center">
                                <h4>
                                    <a href="#">@AccountInfo.FullName</a>
                                </h4>
                                <p>Student</p>
                            </div>
                            <div class="go-dashboard text-center">
                                <a href="deposit-student-dashboard.html" class="btn btn-primary">Go to Dashboard</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settings-widget account-settings">
                    <div class="settings-menu">
                        <h3>ACCOUNT SETTINGS</h3>
                        <ul>
                            <li class="nav-item active">
                                <a href="setting-edit-profile.html" class="nav-link">
                                    <i class="feather-settings"></i> Edit Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="setting-student-security.html" class="nav-link">
                                    <i class="feather-user"></i> Security
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="setting-student-social-profile.html" class="nav-link">
                                    <i class="feather-refresh-cw"></i> Social Profiles
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="setting-student-notification.html" class="nav-link">
                                    <i class="feather-bell"></i> Notifications
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="setting-student-privacy.html" class="nav-link">
                                    <i class="feather-lock"></i> Profile Privacy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="setting-student-delete-profile.html" class="nav-link">
                                    <i class="feather-trash-2"></i> Delete Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="setting-student-accounts.html" class="nav-link">
                                    <i class="feather-user"></i> Linked Accounts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="setting-student-referral.html" class="nav-link">
                                    <i class="feather-user-plus"></i> Referrals
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="login.html" class="nav-link">
                                    <i class="feather-power"></i> Sign Out
                                </a>
                            </li>
                        </ul>
                        <h3>SUBSCRIPTION</h3>
                        <ul>
                            <li class="nav-item">
                                <a href="setting-student-subscription.html" class="nav-link ">
                                    <i class="feather-calendar"></i> My Subscriptions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="setting-student-billing.html" class="nav-link">
                                    <i class="feather-credit-card"></i> Billing Info
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="setting-student-payment.html" class="nav-link">
                                    <i class="feather-credit-card"></i> Payment
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="setting-student-invoice.html" class="nav-link">
                                    <i class="feather-clipboard"></i> Invoice
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /sidebar -->
            <!-- Profile Details -->
            <div class="col-xl-9 col-md-8">
                <div class="settings-widget profile-details">
                    <div class="settings-menu p-0">
                        <div class="profile-heading">
                            <h3>Thông tin cá nhân</h3>
                            <p>You have full control to manage your own account setting.</p>
                        </div>
                        <div class="course-group mb-0 d-flex">
                            <div class="course-group-img d-flex align-items-center">

                                <div class="course-name">
                                    <h4>
                                        <a href="@avatarUrl" target="_blank">Avatar</a>
                                    </h4>
                                </div>
                                <button>
                                    <img src="@avatarUrl" alt="" class="img-fluid">
                                    <InputFile OnChange="OnFileChange"
                                               @bind-Value="Avatar"
                                               class="pt-2 form-control"
                                               accept="@string.Join(',', FileConstants.AcceptTypes)" placeholder='Chọn ảnh' />
                                </button>
                            </div>
                            <div class="profile-share d-flex align-items-center justify-content-center">
                                <Button @onclick="UpdateAvatar" class="btn btn-success">Lưu</Button>
                                <Button @onclick="RemoveAvatar" class="btn btn-danger">Xoá</Button>
                            </div>
                        </div>
                        <div class="checkout-form personal-address add-course-info ">
                            <div class="personal-info-head">
                                <h4>Personal Details</h4>
                                <p>Edit your personal information and address.</p>
                            </div>
                            <EditForm Enhance="true" Model="AccountInfo" FormName="frmAccountInfo" action="#" OnValidSubmit="UpdateAccountInfo">
                                <FluentValidationValidator Validator="new AccountInfoDtoValidator()" />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-block">
                                            <label class="form-control-label">Họ</label>
                                            <InputText @bind-Value="AccountInfo.FirstName" class="form-control" />
                                            <ValidationMessage For="() => AccountInfo.FirstName" class="text-danger my-1" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-block">
                                            <label class="form-control-label">Tên</label>
                                            <InputText @bind-Value="AccountInfo.LastName" class="form-control" />
                                            <ValidationMessage For="() => AccountInfo.LastName" class="text-danger my-1" />

                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="input-block">
                                            <label class="form-control-label">Số điện thoại</label>
                                            <InputText @bind-Value="AccountInfo.PhoneNumber" class="form-control" />
                                            <ValidationMessage For="() => AccountInfo.PhoneNumber" class="text-danger my-1" />

                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="input-block">
                                            <label class="form-control-label">Ngày sinh</label>
                                            <InputDate @bind-Value="AccountInfo.DateOfBirth" class="form-control" />
                                            <ValidationMessage For="() => AccountInfo.DateOfBirth" class="text-danger my-1" />

                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="input-block">
                                            <label class="form-control-label">Email</label>
                                            <InputText @bind-Value="AccountInfo.Email" class="form-control" type="email" readonly />
                                            <ValidationMessage For="() => AccountInfo.Email" class="text-danger my-1" />

                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="input-block">
                                            <label class="form-control-label">Tên tài khoản</label>
                                            <InputText @bind-Value="AccountInfo.UserName" class="form-control" readonly />

                                        </div>
                                    </div>

                                    <div class="update-profile">
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Profile Details -->

        </div>
    </div>
</div>
<!-- /Dashbord Student -->