@attribute [Route(RouteConstants.AccountRoute.Delete)]
@layout AccountLayout
@inherits AccountComponentBase

<div class="settings-widget profile-details">
    <div class="settings-menu p-0">
        <div class="profile-heading">
            <h3>@Localizer.GetString("Title")</h3>
            <p>@Localizer.GetString("Description")</p>
        </div>
        <div class="checkout-form personal-address">
            <div class="personal-info-head">
                <h4>@Localizer.GetString("AlertTitle")</h4>
                <p>@Localizer.GetString("AlertDescription")</p>
            </div>
            <div class="un-subscribe p-0">
                <MudButton Class="btn btn-danger" OnClick="OnDeleteAccount">@Localizer.GetString("ButtonText")</MudButton>
            </div>
        </div>
    </div>
</div>