<Animate Animation="@AnimationType" Duration="@AnimationDuration" class="section become-instructors p-3" >
    <div class="container p-1">
        <div class="row">
            <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                <div class="student-mentor cube-instuctor">
                    <h4>@Localizer.GetString("TitleLeft")</h4>
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="top-instructors">
                                <p>@Localizer.GetString("DescriptionLeft")</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="mentor-img">
                                <img class="img-fluid" alt="" src="assets/img/become-02.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                <div class="student-mentor yellow-mentor">
                    <h4>@Localizer.GetString("TitleRight")</h4>
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <div class="top-instructors">
                                <p>@Localizer.GetString("DescriptionRight")</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="mentor-img">
                                <img class="img-fluid" alt="" src="assets/img/become-01.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Animate>