@using EzioLearning.Wasm.Utils.Common
<!-- Feature Course -->
<section class="section new-course">
    <div class="container">
        <Animate Animation="@AnimationType" Duration="@AnimationDuration" class="section-header">
            <div class="section-sub-head">
                <span>@Localizer.GetString("Subtitle")</span>
                <h2>@Localizer.GetString("Title")</h2>
            </div>
            <div class="all-btn all-category d-flex align-items-center">
                <NavLink href="@RouteConstants.DevLater" class="btn btn-primary">@Localizer.GetString("AllCourses")</NavLink>
            </div>
        </Animate>
        <Animate Animation="@AnimationType" Duration="@AnimationDuration" class="section-text">
            <p class="mb-0">@Localizer.GetString("Description")</p>
        </Animate>
        <div class="course-feature">
            <div class="row">
                @foreach (var item in CourseViewDto)
                {
                    <div class="col-lg-4 col-md-6 d-flex">
                        <div class="course-box d-flex">
                            <CascadingValue Value="item">
                                <CourseItem />
                            </CascadingValue>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- /Feature Course -->