@using EzioLearning.Wasm.Utils.Common
<!-- Top Categories -->
<section class="section how-it-works">
    <div class="container">
        <Animate Animation="@AnimationType" Duration="@AnimationDuration" class="section-header">
            <div class="section-sub-head">
                <span>@Localizer.GetString("Subtitle")</span>
                <h2>@Localizer.GetString("Title")</h2>
            </div>
            <div class="all-btn all-category d-flex align-items-center">
                <NavLink href="@RouteConstants.DevLater" class="btn btn-primary">@Localizer.GetString("More")</NavLink>
            </div>
        </Animate>

        <Animate Animation="@AnimationType" Duration="@AnimationDuration" class="section-text">
            <p>@Localizer.GetString("Description")</p>
        </Animate>

        <Animate Animation="@AnimationType" Duration="@AnimationDuration" class="owl-carousel mentoring-course owl-theme">
            @foreach (var item in TopCourseCategories)
            {
                <CascadingValue Value="@item">
                    <HomeTopCategoryItem />
                </CascadingValue>
            }
        </Animate>
    </div>
</section>
<!-- /Top Categories -->