@using EzioLearning.Wasm.Utils.Common
<section class="section share-knowledge">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <Animate Animation="@AnimationType" Duration="@AnimationDuration" class="knowledge-img">
                    <img src="assets/img/share.png" alt="" class="img-fluid">
                </Animate>
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <Animate Animation="@AnimationType" Duration="@AnimationDuration" class="join-mentor">
                    <h2>@Localizer.GetString("Title")</h2>
                    <p>@Localizer.GetString("Description")</p>
                    <ul class="course-list">
                        <li><i class="fa-solid fa-circle-check"></i>@Localizer.GetString("Feature1")</li>
                        <li><i class="fa-solid fa-circle-check"></i>@Localizer.GetString("Feature2")</li>
                    </ul>
                    <div class="all-btn all-category d-flex align-items-center">
                        <NavLink href="@RouteConstants.DevLater" class="btn btn-primary">@Localizer.GetString("More")</NavLink>
                    </div>
                </Animate>

            </div>
        </div>
    </div>
</section>